# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

.htaccess
CHANGELOG.txt
COPYRIGHT.txt
INSTALL.mysql.txt
INSTALL.pgsql.txt
INSTALL.sqlite.txt
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
README.md.orig
README.txt
UPGRADE.txt
authorize.php
cron.php
includes/
index.php
install.php
misc/
modules/
profiles/
robots.txt
scripts/
sites/README.txt
sites/all/libraries/
sites/all/modules/README.txt
sites/all/modules/admin_menu/
sites/all/modules/ctools/
sites/all/modules/entity/
sites/all/modules/imce/
sites/all/modules/imce_wysiwyg/
sites/all/modules/jquery_update/
sites/all/modules/pathauto/
sites/all/modules/rules/
sites/all/modules/token/
sites/all/modules/views/
sites/all/modules/webform/
sites/all/modules/workbench/
sites/all/modules/workbench_access/
sites/all/modules/workbench_moderation/
sites/all/modules/wysiwyg/
sites/all/themes/README.txt
sites/all/themes/igov/
sites/all/themes/zen/
sites/default/
sites/example.sites.php
themes/
update.php
web.config
xmlrpc.php

.idea/